@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i, 900");
.mt0 {
  margin-top: 0px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt-100 {
  margin-top: -100px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.m0 {
  margin: 0px !important;
}

.m10 {
  margin: 10px !important;
}

.m20 {
  margin: 20px !important;
}

.m30 {
  margin: 30px !important;
}

.m40 {
  margin: 40px !important;
}

.m50 {
  margin: 50px !important;
}

.m60 {
  margin: 60px !important;
}

.m70 {
  margin: 70px !important;
}

.m80 {
  margin: 80px !important;
}

.m90 {
  margin: 90px !important;
}

.m100 {
  margin: 100px !important;
}

.p0 {
  padding: 0;
}

.-absolute {
  position: absolute;
}

.-relative {
  position: relative;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.cta-group {
  margin-top: 2em;
  display: inline-block;
}

.custom-btn {
  font-family: 'Source Sans Pro', 'FontAwesome';
  font-size: 12px;
  letter-spacing: 0.79px;
  padding: 16px 24px;
  text-transform: uppercase;
  height: 45px;
  font-weight: 700;
  display: inline-table;
  text-align: center;
}

.custom-btn:hover {
  text-decoration: none;
}

.custom-btn.-red-fill {
  background: #A41C21;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1.5px solid #A41C21;
}

.custom-btn.-red-fill:hover, .custom-btn.-red-fill:focus {
  transition: .2s ease;
  background: #8C181D;
}

.custom-btn.-red-outline {
  border-radius: 4px;
  color: #A41C21;
  border: 1.5px solid #A41C21;
}

.custom-btn.-red-outline:hover, .custom-btn.-red-outline:focus {
  transition: .2s ease;
  background: #A41C21;
  color: #FFFFFF;
}

.custom-btn.-sign-up {
  width: calc(50% - 5px);
}

.custom-btn.freetrial-btn {
  background: #979797;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.custom-btn.freetrial-btn:hover, .custom-btn.freetrial-btn:focus {
  transition: .2s ease;
  background: #f58509;
}

body, h1, h2, h3, h4, h5, p {
  font-family: 'Source Sans Pro', sans-serif !important;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #A41C21;
  margin-bottom: 10px;
}

h1.-left {
  text-align: left !important;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  color: #A41C21;
  margin-bottom: 10px;
  line-height: 52px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #A41C21;
  margin-bottom: 10px;
  line-height: 40px;
}

h4 {
  font-size: 26px;
  font-weight: 700;
  color: #2A2A2A;
  margin-bottom: 10px;
  line-height: 38px;
}

h5 {
  font-size: 22px;
  font-weight: 700;
  color: #2A2A2A;
  margin-bottom: 10px;
  line-height: 33px;
}

.priceplan-title {
  font-size: 25px;
  font-weight: 700;
  color: #F68A12;
  text-align: center;
  line-height: 33px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  margin-top: 2em;
}

.priceplan-title.-left {
  text-align: left;
}

p.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #2A2A2A;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  line-height: 30px;
}

code {
  background: #2A2A2A;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 0;
  margin: 10px 0;
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
}

code ::-webkit-scrollbar {
  display: none;
}

p, li {
  font-size: 16px;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
}

p.specific-tool-intro {
  font-size: 20px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  line-height: 30px;
  letter-spacing: 0.25px;
  margin-top: 3em;
}

p.code {
  font-family: 'Menlo';
}

a {
  color: #A41C21;
}

p.entrep-subtitle {
  font-size: 14px;
  color: #464557;
  font-weight: bold;
  margin-top: -10px;
}

p.enterprise-desc {
  border: none;
  font-size: 18px;
  text-align: left;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #2A2A2A;
}

.custom-table {
  margin-top: 3em;
}

.custom-table thead {
  border: none;
}

.custom-table th {
  font-size: 16px;
  color: #979797;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
}

.custom-table td {
  border: none;
  font-size: 18px;
  text-align: center;
}

.custom-table td.-left {
  text-align: left;
}

.custom-table tr.header > th.title {
  font-weight: bold;
  font-size: 24px;
  color: #F68A12;
  line-height: 30px;
  text-align: left !important;
  width: 270px;
}

.custom-table tr.header > th.title > span {
  font-weight: bold;
  font-size: 15px;
  color: #2A2A2A;
  line-height: 30px;
  margin-left: 8px;
}

.custom-table tr.header > th {
  text-align: center;
  line-height: 22px;
}

.custom-table > tbody > tr > td, .custom-table > tbody > tr > th, .custom-table > tfoot > tr > td, .custom-table > tfoot > tr > th, .custom-table > thead > tr > td, .custom-table > thead > tr > th {
  border-top: 1px solid #EFEFEF;
  padding: 15px 30px;
}

.divider-wave {
  background: url(../../assets/img/divider.svg) no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0;
  height: 100px;
  margin: 4em 0;
}

.feature-block {
  margin-bottom: 4em;
}

.feature-block > img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.feature-block > p.title {
  font-weight: 700;
  font-size: 24px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.feature-block > p.desc {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  font-size: 16px;
  letter-spacing: 0.25px;
  line-height: 24px;
  margin-top: 10px;
  max-width: 370px;
}

.companies-footer {
  margin-top: 7em;
  padding: 10px 0;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}

.companies-footer img {
  height: auto;
  padding: 20px 35px;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(100%);
  display: inline-block;
}

nav {
  padding: 0 0 10px 0;
  background: white;
}

nav .icon-bar {
  background: #2A2A2A;
}

#mainNav {
  background: #fff;
}

#mainNav > ul li a {
  font-size: 16px;
  color: #2A2A2A;
}

#mainNav > ul li a:hover {
  transition: .2s ease;
  color: #A41C21;
  background: transparent;
}

.navbar-collapse[aria-expanded="true"] {
  border-top: 1px solid #F5F5F5;
  margin-top: 1.5em;
  transition: .2s ease;
}

.navbar-nav {
  margin-top: 10px;
}

.signup-header-form form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
}

.signup-header-form form > input {
  background: #F5F5F5;
  border-radius: 4px;
  color: #2A2A2A;
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.signup-header-form form > input:active, .signup-header-form form > input:focus {
  outline: none;
  border: 1px solid #EFEFEF;
}

.sub-footer {
  background: url(../../assets/img/ready-footer.svg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  height: 300px;
}

.sub-footer > .content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.sub-footer > .content > h3, .sub-footer > .content p {
  text-align: center;
}

.footer {
  background: #2A2A2A;
  padding: 60px 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li.title,
.footer p.title {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  font-weight: 800;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.footer ul li a, .footer ul li {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  font-weight: 300;
  font-size: 13px;
  color: #FFFFFF;
  line-height: 30px;
}

.footer ul li a:hover, .footer ul li:hover {
  text-decoration: none;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: .2s ease;
}

.footer .social-media-list {
  padding: 0;
  margin-top: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
}

.footer .social-media-list > li {
  margin: 0 20px 0 0;
}

.footer .social-media-list > li > a:hover i {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: .2s ease;
}

.testimonial-block > img {
  width: 70px;
  height: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
}

.testimonial-block > p.name {
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  text-transform: uppercase;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  letter-spacing: 1px;
}

.testimonial-block > p.content {
  font-style: italic;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

#tool-installation {
  margin-top: 5em;
}

#tool-installation ::-webkit-scrollbar {
  display: none;
}

#tool-installation .custom-pills > li a {
  color: #2A2A2A;
  background: transparent;
}

#tool-installation .custom-pills > li a:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: #A41C21;
  transition: .2s ease;
}

#tool-installation .custom-pills > li.active a {
  color: #A41C21;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

section#feature {
  margin: 0 0 5em 0;
}

.startContent {
  margin-top: 10em;
}

.flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: 0;
      flex-direction: 0;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

hr {
  border: 1.5px solid #EFEFEF;
  width: 100%;
  margin-top: 0;
}

.feature-pricing {
  margin-top: 3em;
}

.pricing-pills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0;
  margin: 0;
}

.pricing-pills li {
  width: calc(33.33% - 20px);
  background: transparent;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  display: block;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.pricing-pills li > .pricing-block:hover {
  background: transparent !important;
}

.pricing-pills li:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  transition: .2s ease;
}

.pricing-pills li.active {
  outline: 1px solid #F68A12;
}

.pricing-pills li.active > .pricing-block {
  border: 1px solid #F68A12;
}

.pricing-pills li.active > .pricing-block > .pricing svg path {
  fill: #F68A12;
  opacity: 1 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.pricing-pills li.active > a.pricing-block {
  background: transparent !important;
  border: none;
}

.pricing-pills li.active > a.freetrial-btn {
  background: #F68A12 !important;
}

.pricing-pills li .pricing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end;
  background: transparent;
}

.pricing-pills li .pricing p.start-at {
  font-weight: italic;
  font-size: 14px;
  color: #979797;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  text-align: right;
  margin-bottom: 0;
}

.pricing-pills li .pricing p.price {
  font-size: 22px;
  color: #2A2A2A;
  font-weight: 900;
  line-height: 30px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  text-align: right;
}

.pricing-pills li .pricing p.price span {
  font-size: 14px;
}

.price-per-plan span {
  font-size: 14px;
}

#enterprise.tab-pane.active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

#enterprise.tab-pane.active > p.subtitle {
  font-size: 18px;
  color: #2A2A2A;
}

.tool-hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;
}

.tool-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.tool-header > h1, .tool-header p.subtitle {
  text-align: left !important;
}

.tool-header > img {
  margin-right: 20px;
  height: 50px;
  width: auto;
}

#companies {
  margin: 15em 0 10em 0;
  text-align: center;
}

#companies > .companies-carousel {
  margin-top: 2em;
}

#companies > .companies-carousel img {
  padding: 20px 40px;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: grayscale(100%);
  display: inline-block;
}

.gemfury-mac {
  position: absolute;
  right: -80px;
}

.gemfury-mac img {
  box-shadow: 0 22px 30px -17px rgba(0, 0, 0, 0.3);
}

.section-tools {
  background: #F5F5F5;
  margin: 8em 0;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: 0;
      flex-direction: 0;
  -ms-flex-pack: center;
      justify-content: center;
}

.section-tools img {
  padding: 20px 30px;
  text-align: center;
}

.section-tools img:hover {
  transform: scale(1.2);
  transition: .2s ease;
}

.slick-prev:before,
.slick-next:before {
  color: #979797;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

@media (max-width: 576px){
  .cta-group{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  h1{
    font-size: 46px;
    line-height: 60px;
    text-align: center;
  }
  h2{
    text-align: center;
  }
  p.subtitle{
    font-size: 22px;
    text-align: center;
  }
  p, li{
    font-size: 18px;
    line-height: 27px;
  }
  p.specific-tool-intro{
    text-align: center;
  }
  #mainNav > ul li a{
    text-align: center;
  }
  .sub-footer{
    background: url(../../assets/img/ready-footer-mobile.svg) no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 400px;
  }
  .footer .social-media-list > li{
    margin: 0 20px;
  }
  .footer .social-media-list > li > a i{
    font-size: 35px;
  }
  .testimonial-block > p.name{
    font-size: 18px;
    line-height: 27px;
  }
  section#feature{
    margin: 0 0 3em 0;
  }
  .startContent{
    margin-top: 7em;
  }
  .feature-pricing{
    margin-top: 1em;
  }
  .tool-header > img{
    height: 80px;
    width: auto;
    margin: 0 30px 0 10px;
  }
  #companies{
    margin: 5em 0 10em 0;
  }
  #companies > .companies-carousel img{
    padding: 30px;
  }
}

@media (max-width: 992px){
  .custom-btn.freetrial-btn{
    margin-top: 0;
  }
  .custom-table tr.header > th.title{
    width: auto;
  }
  .signup-header-form{
    display: none;
  }
  #tool-installation .custom-pills{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 20px 0;
  }
  .pricing-pills li{
    width: 100%;
    margin-bottom: 20px;
  }
  #companies > .companies-carousel img{
    padding: 30px;
  }
  section#hero .hero-banner-img{
    display: none !important;
    margin-top: 20px;
  }
  .gemfury-mac{
    position: initial;
    margin-top: 4em;
  }
  .gemfury-mac img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px){
  .custom-table{
    margin-top: 2em;
  }
  .feature-block{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .feature-block > p.title{
    font-size: 22px;
    line-height: 30px;
  }
  .feature-block > p.desc{
    text-align: center;
    font-size: 18px;
    font-size-line-height: 30px;
  }
  .companies-footer img{
    padding: 15px !important;
  }
  .footer ul{
    margin-bottom: 3em;
    text-align: center;
  }
  .footer ul li.title,
  .footer p.title{
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
  }
  .footer ul li a, .footer ul li{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
  }
  .footer .social-media-list{
    -ms-flex-pack: center;
        justify-content: center;
  }
  .footer .contact-us-block{
    text-align: center;
  }
  .tool-header{
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #companies > .companies-carousel img{
    padding: 40px;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
  table, thead, tbody, th, td, tr{
    display: block;
  }
  thead tr{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .custom-table td.-left{
    text-align: center !important;
    font-weight: bold;
  }
  tr{
    margin: 0 0 20px 0;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
  }
  td{
    border: none;
    border-bottom: 1px solid #EFEFEF;
    position: relative;
    padding-left: 20%;
    text-align: right !important;
  }
  td:before{
    position: absolute;
    left: 5px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before{
    content: "";
  }
  td:nth-of-type(2):before{
    content: "Private Package";
  }
  td:nth-of-type(3):before{
    content: "Public Package";
  }
  td:nth-of-type(4):before{
    content: "Collaborators";
  }
  td:nth-of-type(5):before{
    content: "Price";
  }
}

@media (max-width: 1200px){
  .footer .contact-us-block{
    margin-top: 4em;
  }
}
